{
    "root": true,
    "rules": {
        "@typescript-eslint/explicit-module-boundary-types": 0,
        "sort-imports": "error"
    },
    "plugins": ["@typescript-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "overrides": [
        {
            "files": "*.ts",
            "parser": "@typescript-eslint/parser"
        }
    ],
    "env": {
        "browser": true,
        "node": true
    }
}
