<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>electron/fluent-ui</title>
        <link rel="stylesheet" href="../node_modules/office-ui-fabric-core/dist/css/fabric.min.css" />
        <script src="../bundle/Renderer.js"></script>
    </head>
    <body style="padding: 0; margin: 0; height: 100vh; width: 100%">
        <div id="react-app" style="width: 100%; height: 100%"></div>
    </body>
</html>
