<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>electron/fluent-ui</title>
        <link
            rel="stylesheet"
            href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/css/fabric.min.css"
        />
    </head>
    <body style="padding: 0; margin: 0; height: 100vh; width: 100%">
        <div id="react-app"></div>
        <script src="../bundle/Renderer.js"></script>
    </body>
</html>
